.navbarContainerDiv {
  width: 100%;
  margin-top: 10px;
}
.menuicon {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.menuicon i {
  background-color: var(--backgroundColor);
  justify-content: center;
  width: 32px;
  height: 32px;
  align-items: center;
  display: flex;
  border-radius: 8px;
}

.messagecount {
  font-size: var(--smallestFontSize);
  background: var(--primaryColor);
  color: var(--whiteColor);
  padding: 0.2rem 0.3rem;
  border-radius: 10px;
  position: relative;
  right: -35px;
}

.navmenu .menulists {
  .listitem {
    padding: 0.4rem 0.4rem;
    border-radius: 8px;
    border: 1px solid var(--backgroundColor);
    .menuicon {
      color: var(--textColor);
    }
  }
  .listitem:hover {
    background-color: var(--quaternaryColor);
    border: 1px solid var(--borderColor);
    transition: 0.5s ease;
    .smallText {
      color: var(--primaryColor);
    }
    .menuicon {
      color: var(--primaryColor);
    }
  }
}
