.helpcenterbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  background: var(--quaternaryColor);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--borderColor);
  margin: 0.5rem 0;
}

.helpcenterbox i {
  margin: 0px auto;
}

.helpcenterbox h3 {
  color: var(--textColor);
  margin: 0.5rem 0;
}

.helpcenterbox p {
  color: var(--textColor);
  margin: 0.5rem 0;
}

.helpicon {
  background: var(--backgroundColor);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--borderColor);
  color: var(--primaryColor);
}
