.tabs {
  display: flex;
}

.tab {
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid var(--quaternaryColor);
  cursor: pointer;
  outline: none;
  font-size: var(--normalFontSize);
  background: none;
  border-radius: 8px 8px 0px 0px;
  color: var(--textColor);
}

.tab.active {
  border-bottom: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  font-size: var(--normalFontSize);
  background: var(--backgroundColor);
  transition: 0.3s ease;
}

.tab-content {
  padding: 20px;
  border-radius: 0px 0px 8px 8px;
  font-size: var(--normalFontSize);
  background: var(--quaternaryColor);
  border: 1px solid var(--borderColor);
  color: var(--textColor);
}

.Projectstab {
  background: var(--quaternaryColor);
  margin: 1rem 0;
}
