.mainContent {
  width: 88%;
  height: 100%;
  overflow: auto;
  background: var(--backgroundColor);
  padding: 0.5rem;
}
.contentContainer {
  background: var(--quaternaryColor);
  height: 100%;
  border-radius: 15px;
  border: 1px solid var(--borderColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 10px;
  margin: 0 1.5rem;
}

.grid-item {
}

.item-1 {
  background-color: var(--quaternaryColor);
}

.item-2 {
  background-color: var(--quaternaryColor);
  border-radius: 8px;
}

.overview-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.5rem;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 20px;
}
