.loginandcollapse {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  justify-content: center;
}

.loginas {
  padding: 0.7rem 0.5rem;
  font-size: var(--smallestFontSize);
  text-align: center;
  background: var(--darkBackground);
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--tertiaryColor);
  opacity: 0.3;
}

.loginas:hover {
  opacity: 1;
  color: var(--primaryColor);
  transition: 0.5s ease;
}
