@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

.collapsemenu {
  width: 32px;
  height: 32px;
}

.collapseicon i {
  background-color: var(--backgroundColor);
  justify-content: center;
  width: 32px;
  height: 32px;
  align-items: center;
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--backgroundColor);
  rotate: 90deg;
  color: var(--tertiaryColor);
  opacity: 0.3;
}

.collapseicon i:hover {
  background-color: var(--quaternaryColor);
  border: 1px solid var(--borderColor);
  transition: 0.5s ease;
  color: var(--primaryColor);
  opacity: 1;
}
