:root {
  --primaryColor: #ed7d31;
  --secondaryColor: #1d2232;
  --tertiaryColor: #6f7178;
  --quaternaryColor: #fcfcf9;
  --backgroundColor: #f3f3ee;
  --textColor: #2c3e50;
  --whiteColor: #ffffff;
  --borderColor: #e5e7eb;
  --darkBackground: #e8e8e3;

  /* Fonts & Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.65rem;
}

.sidebarContainer {
  width: 12%;
  height: 100%;
  gap: 3rem;
  overflow: auto;
  padding: 1rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .complete-abcd-logo {
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
}
