.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--backgroundColor);
  width: 15%;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0px;
}
.form-group {
  margin-bottom: 15px;
}
input {
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--borderColor);
  outline: none;
}
h1 {
  margin: 10px 0px;
}
.login-container p {
  font-size: var(--normalFontSize);
  text-align: center;
}
.formlink-below {
  width: 100%;
  margin: 20px 0px;
}
.formlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: var(--normalFontSize);
  color: var(--textColor);
}
input:focus {
  border: 1px solid var(--primaryColor);
  background: var(--whiteColor);
}
.badge-abcd-logo {
  cursor: pointer;
  margin-bottom: 10px;
  width: 64px;
  height: 64px;
}
